# OS System Files
.DS_Store
Thumbs.db
desktop.ini

# Dependency Directories
**/node_modules/

# SolidStart, Vinxi, Nitro & Pages Build Outputs (ล้างไฟล์แคชเก่าทั้งหมด)
.vinxi/
.output/
.solid/
/dist/
.turbo/

# Netlify Caches (ลบไฟล์และบล็อกถาวรเพื่อป้องกันการชนกันของแคช)
.netlify/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Log Files
*.log
npm-debug.log*

tips-secure_flattened.md
settings.json